# OpenAI API Key
OPENAI_API_KEY=OPEN API KEY
# LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=LANGCHAIN-API-KEY
LANGCHAIN_PROJECT=tn-farmer-welfare-bot